body {
  background:
  linear-gradient(
    rgba(112, 28, 28, 0.3), 
    rgba(23, 177, 175, 0.3)
  ),
  url(https://www.webex.com/content/dam/wbx/us/images/virtual-backgrounds/Virtual_Background-Night.jpg?lq3kjP0l2o);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}